<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio (HomePage)</title>
    <!-- Bootstrap -->
  <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="navbar">
       <a class="navbar-brand" href="#"><img src="../static/images/skylark-logo-2-xsmall.png" width="170" height="82" alt=""/></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="#" id="home">HOME <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page2') }}" id="about">About</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page3') }}" id="portfolio">Portfolio<br>Work</a>
             </li> 
			 <li class="nav-item">
                <a class="nav-link" href="{{ url_for('page1') }}" id="yvaine">Her majesty:<br>Yvaine</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://flic.kr/ps/3y7UMF" id="hobby">Amateur<br>Photography</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/rosaicelarg" id="linkedin"><img src="../static/images/LI-In-Bug.png" width="64" height="55" alt="linkedin"/></a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="https://github.com/rromang" id="github"><img src="../static/images/GitHub-Mark-Light-32px.png" width="49" height="47" alt="github"/></a>
             </li>
          </ul>
       </div>
    </nav>
    <section>
   <div class="jumbotron jumbotron-fluid text-center">		  
<h1 class="display-4"><img src="../static/images/Rectangle_3.png" width="382" height="118" alt=""/></h1>
<!--       <p class="lead"><img src="../static/images/I’m_Rosa.png" width="211" height="42" alt=""/></p>-->
	    <p class="lead" id="hero-text1">Welcome to SkyLark Consulting &amp; Analytics LLC</p>
	   <p class="hor-line"><img src="../static/images/Rectangle_4.png" width="892" height="14" alt=""/></p>
       <p id="hero-text">Data analyst/scientist services. Creating visualizations and analysis for smart/informed business decisions.<br>
Biology and biotechnology consulting services.</p>
       <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{ url_for('page2') }}" role="button" id="about-btn">ABOUT ME</a>
		  <a class="btn btn-primary btn-lg" href="{{ url_for('page3') }}" role="button" id="portfolio-btn">PORTFOLIO</a>
       </p>
	          <p class="lead">
<!--<input type="email">-->
					<h3 id="info"><u>Request Info</u></h3>


       </p>
    </div>
    </section>

    <footer class="text-center" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p id="copy">Copyright © R. Roman. All rights reserved.</p>
			<p id="date"><script>
    			var today = new Date; document.getElementById('date').innerHTML= today.toDateString();</script>
             </p> 
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
  </body>
</html>