<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">

  </head>
  <body>
   <nav class="navbar navbar-expand-lg" id="navbar">
      <a class="navbar-brand" href="#"><img src="../static/images/logo.jpg" width="80" height="82" alt=""/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('welcome') }}" id="home">HOME </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('page2') }}" id="about">About</a>
            </li>
         <li class="nav-item">
               <a class="nav-link" href="{{ url_for('page3') }}" id="portfolio">Portfolio<br>Work <span class="sr-only">(current)</span></a>
            </li> 
         <li class="nav-item">
               <a class="nav-link" href="{{ url_for('page1') }}" id="yvaine">Her majesty:<br>Yvaine</a>
            </li>
         <li class="nav-item">
               <a class="nav-link" href="https://flic.kr/ps/3y7UMF" id="hobby">Amateur<br>Photography</a>
            </li>
         <li class="nav-item">
               <a class="nav-link" href="https://www.linkedin.com/in/rosaicelarg" id="linkedin"><img src="../static/images/LI-In-Bug.png" width="64" height="55" alt="linkedin"/></a>
            </li>
         <li class="nav-item">
               <a class="nav-link" href="https://github.com/rromang" id="github"><img src="../static/images/GitHub-Mark-Light-32px.png" width="49" height="47" alt="github"/></a>
            </li>
         </ul>
      </div>
   </nav>
<section>
   <div class="jumbotron jumbotron-fluid text-center">		  
<h1 class="display-4" id="title">Portfolio:</h1>
       <p class="lead" id="desc">Data Analysis and Data Visualization</p>
	   <p class="hor-line"><img src="../static/images/Rectangle_4.png" width="892" height="14" alt=""/></p>
       <p id="hero-text">Collection of learnings in my data journey.</p>
    </div>
    </section>
	 <section id="portfolio-work">
    <div class="container">

       <br>
       <hr>
       <br>
       <div class="row">
          <div class="col-md-4 d-flex align-items-stretch">
             <div class="card">
                <img class="card-img-top" src="../static/images/equake_measure.jpeg" alt="Card image cap">
                <div class="card-body">
                   <h4 class="card-title">Earthquake API</h4>
                   <p class="card-text">Create and maintain a database with information about earthques obtained by the USGS that goes back more than 2 months.</p>
                   <br><br><br><br>
                   <a href="https://equake-api.herokuapp.com" class="btn btn-primary" id="equake-api-btn">Earthquake API</a>
                </div>
             </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
             <div class="card">
               <img class="card-img-top" src="../static/images/earthquake_banner_vector.jpg" height="190" alt="equake_banner">
                <div class="card-body">
                   <h4 class="card-title">Earthquake Modeling</h4>
                   <p class="card-text">Utilize machine learning models to predict earthquakes characteristics like magnitude and depths based on the other&nbsp; features collected by USGS. Data used was stored in database. Rows of data collected are currently 40,000+&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                   <br><br>
                   <a href="https://earthquake-ml-app.herokuapp.com" class="btn btn-primary" id="equake-ml-btn">Earthquake ML</a>
                </div>
             </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
             <div class="card">
			<img class="card-img-top" src="../static/images/bike.jpeg" id="bike" alt="bike-person">
               <div class="card-body">
                   <h4 class="card-title">CitiBike Rental Behaviors</h4>
                   <p class="card-text">Analysis and vizualizations of bike rental behavior in NY comparing April of 2018, 2019 and 2020. Data seems to indicate there was a significant significant drop in the # of rental due to the pandemic. </p>
                   <br><br><br>
                   <a href="https://public.tableau.com/views/citibike_rental_exploration/Dashboard1?:language=en-US&:display_count=n&:origin=viz_share_link" class="btn btn-primary" id="tableau-citibike-btn">CitiBike Viz</a>
                </div>
             </div>
          </div>
       </div>
       <br/>
       <br/>


       <br>
       <hr>
	

    </div>
</section>
	          <footer class="text-center" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p id="copy">Copyright © R. Roman. All rights reserved.</p>
			<p id="date"><script>
    			var today = new Date; document.getElementById('date').innerHTML= today.toDateString();</script>
             </p> 
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="../static/js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
  </body>
</html>
